/target
/Cargo.lock

/account/target
/account/Cargo.lock

/block/target
/block/Cargo.lock

/block_proposer/target
/block_proposer/Cargo.lock

/cli/target
/cli/Cargo.lock
/cli/config.json

/cluster/target
/cluster/Cargo.lock

/common/target
/common/Cargo.lock

/consensus/target
/consensus/Cargo.lock

/contract/target
/contract/Cargo.lock

/contract_instance/target
/contract_instance/Cargo.lock

/db/target
/db/Cargo.lock

/execute/target
/execute/Cargo.lock
/execute/test_vm.db

/evm/target
/evm/Cargo.lock
/evm/.idea

/mempool/target
/mempool/Cargo.lock

/node/target
/node/Cargo.lock

/node_info/target
/node_info/Cargo.lock

/p2p/target
/p2p/Cargo.lock

/primitives/target
/primitives/Cargo.lock

/relayer/target
/relayer/Cargo.lock

/rpc/target
/rpc/Cargo.lock

/server/target
/server/Cargo.lock

/staking/target
/staking/Cargo.lock

/sub_cluster/target
/sub_cluster/Cargo.lock

/system/target
/system/Cargo.lock

/validate/target
/validate/Cargo.lock
/validate/src/.DS_Store

/validator/target
/validator/Cargo.lock

.idea
.vs_code
.vscode
.DS_Store
config.json

cipher_node.env

# backup files
*.bk
* copy.*
* copy\ *.*
coverage
/cli/node_modules
